<div class="loading" *ngIf="!refactoringsFiltered"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</div>
<div class="table-responsive" *ngIf="refactoringsFiltered">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th (click)="paginator.setSortBy('commit.project.name')">Project</th>
                <th>Commit</th>
                <th (click)="paginator.setSortBy('locationStatus')">Refactoring Type</th>
                <th (click)="paginator.setSortBy('commit.date')">Commit Time</th>
                <th (click)="paginator.setSortBy('by')">Am I involved?</th>
                <th (click)="paginator.setSortBy('commit.author')">Receiver</th>
                <th (click)="paginator.setSortBy('responded')">Reponded?</th>
                <th (click)="paginator.setSortBy('tagged')">Tagged</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let refactoring of refactoringsFiltered; let i = index">
                <td>{{ i + 1 }}</td>
                <td><a [routerLink]="['/project-details', refactoring.getCommit().getProject().getID()]" 
                            routerLinkActive="active" title="{{ refactoring.getCommit().getProject().getName() }}">{{ refactoring.getCommit().getProject().getName() }}</a></td>
                <td><a href="{{ refactoring.getCommitDiffLink() }}" target="_blank">{{ refactoring.getCommit().getSHA1().substring(0, 7) }}</a></td>
                <td title="{{ refactoring.getRefactoringString() }}">{{ refactoring.getRefactoringType() }}</td>
                <td>{{ refactoring.getCommit().getDate() | date:'medium' }}</td>
                <td><i *ngIf="refactoring.by == 'Me'" class="fa fa-check" aria-hidden="true"></i></td>
                <td>{{ refactoring.getCommit().getAuthor() }}</td>
                <td><i *ngIf="refactoring.responded" class="fa fa-check" aria-hidden="true"></i></td>
                <td><i *ngIf="refactoring.tagged" class="fa fa-check" aria-hidden="true"></i></td>
                <td>
                    <div class="actions">
                        <a href="{{ refactoring.getCommitDiffLink() }}" target="_blank"><i class="fa fa-github" aria-hidden="true" title="See on GitHub"></i></a>
                        <a *ngIf="backendService.getUser()" [routerLink]="['/refactoring', refactoring.getCommit().getProject().getID(), refactoring.id]" 
                            routerLinkActive="active" title="Actions"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot paginator [paginator]="paginator" [colspan]="7"></tfoot>
    </table>
</div>