<div class="loading" *ngIf="!lambdasFiltered"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</div>
<div class="table-responsive" *ngIf="lambdasFiltered">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th (click)="paginator.setSortBy('commit.project.name')">Project</th>
                <th>Commit</th>
                <th (click)="paginator.setSortBy('locationStatus')">Lambda Location</th>
                <th (click)="paginator.setSortBy('commit.date')">Commit Time</th>
                <th (click)="paginator.setSortBy('by')">Am I involved?</th>
                <th (click)="paginator.setSortBy('commit.author')">Receiver</th>
                <th (click)="paginator.setSortBy('responded')">Reponded?</th>
                <th (click)="paginator.setSortBy('tagged')">Tagged</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lambda of lambdasFiltered; let i = index">
                <td>{{ i + 1 }}</td>
                <td><a [routerLink]="['/project-details', lambda.getCommit().getProject().getID()]" 
                            routerLinkActive="active" title="{{ lambda.getCommit().getProject().getName() }}">{{ lambda.getCommit().getProject().getName() }}</a></td>
                <td><a href="{{ lambda.getCommitDiffLink() }}" target="_blank">{{ lambda.getCommit().getSHA1().substring(0, 7) }}</a></td>
                <td>{{ getPrettyStatus(lambda.getLocationStatus()) }}</td>
                <td>{{ lambda.getCommit().getDate() | date:'medium' }}</td>
                <td><i *ngIf="lambda.by == 'Me'" class="fa fa-check" aria-hidden="true"></i></td>
                <td>{{ lambda.getCommit().getAuthor() }}</td>
                <td><i *ngIf="lambda.responded" class="fa fa-check" aria-hidden="true"></i></td>
                <td><i *ngIf="lambda.tagged" class="fa fa-check" aria-hidden="true"></i></td>
                <td>
                    <div class="actions">
                        <a href="{{ lambda.getLambdaLink() }}" target="_blank"><i class="fa fa-github" aria-hidden="true" title="See on GitHub"></i></a>
                        <a *ngIf="backendService.getUser()" [routerLink]="['/lambda', lambda.getCommit().getProject().getID(), lambda.id]" 
                            routerLinkActive="active" title="Actions"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot paginator [paginator]="paginator" [colspan]="7"></tfoot>
    </table>
</div>