<table class="table table-striped">
    <thead>
        <tr>
            <th>File</th>
            <th>Line Range</th>
            <th>Column Range</th>
            <!-- <th>CodeElementType</th> -->
            <th>Description</th>
            <th>Code Element</th>
            <th>Refactoring</th>
            <!-- <th>DiffSide</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let codeRange of codeRanges" [style.background-color]="codeRange.diffSide === 'RIGHT' ? '#ABF2BC' : codeRange.diffSide === 'LEFT' ? '#FFC0C0' : ''">
            <td title="{{ codeRange.filePath }}">{{ codeRange.filePath | basename }}</td>
            <td>[{{ codeRange.startLine }},{{ codeRange.endLine }}]</td>
            <td>[{{ codeRange.startColumn }},{{ codeRange.endColumn }}]</td>
            <!-- <td>{{ codeRange.codeElementType }}</td> -->
            <td>{{ codeRange.description }}</td>
            <td>{{ codeRange.codeElement }}</td>
            <td title="{{ codeRange.refactoring.getRefactoringString() }}">{{ codeRange.refactoring.getRefactoringType() }}</td>
            <!-- <td>{{ codeRange.diffSide }}</td> -->
            <td><a href="{{ codeRange.getRefactoringLink() }}" target="_blank"><i class="fa fa-github" aria-hidden="true" title="See on GitHub"></i></a></td>
        </tr>
    </tbody>
</table>