.flex-row {
    display: flex;
    flex-direction: row;
}
.vertical-center {
    align-items: center;
}
.horizontal-left {
    justify-content: flex-start;
}
.block {
    display: block;
}
.right-top-margin-2 {
    margin-top: 2pt;
    margin-right: 2pt;
}
.left-margin-14 {
    margin-left: 14pt;
}